@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <img src="https://media.vertbaudet.com/Pictures/vertbaudet/90566/magical-t-shirt-for-girls-with-reversible-sequins-and-glitter.jpg?width=1320" height="200" />
        <img src="https://media.vertbaudet.com/Pictures/vertbaudet/90956/colour-block-sports-t-shirt-for-boys.jpg?width=1320" height="200" />
    </div>
